* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: radial-gradient(circle at center, #07121f, #000);
    color: #00eaff;
    height: 100vh;
    overflow: hidden;
}

#hud {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.panel {
    width: 22%;
    height: 75%;                                                                                                                                                                     border: 1px solid rgba(0,234,255,0.4);
    box-shadow: 0 0 20px rgba(0,234,255,0.4);
    padding: 15px;
    backdrop-filter: blur(6px);
}

.panel h2 {
    border-bottom: 1px solid #00eaff;
    margin-bottom: 10px;
}

#center {
    text-align: center;
}

h1 {
    letter-spacing: 6px;
    margin-bottom: 10px;
}

#sphere {
    width: 350px;
    height: 350px;
}

#chat {
    margin-top: 15px;
}

#userInput {
    padding: 10px;
    width: 220px;
    background: black;
    border: 2px solid #00eaff;
    color: #00eaff;
}

button {
    padding: 10px 15px;
    background: #00eaff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

#log {
    font-size: 13px;
    height: 90%;
    overflow-y: auto;
}






