<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHADOW AI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div id="hud">

    <div class="panel left">
        <h2>SYSTEM</h2>
        <p><b>Status:</b> Online</p>
        <p><b>AI:</b> Shadow v1.0</p>
    </div>

    <div class="panel right">
        <h2>DATA</h2>
        <div id="log"></div>
    </div>

    <div id="center">
        <h1>SHADOW</h1>
        <canvas id="binaryBox" width="350" height="120"></canvas>
<canvas id="sphere" width="350" height="350"></canvas>
        <div id="chat">
            <input type="text" id="userInput" placeholder="Talk t>
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>

</div>

<script src="/static/script.js"></script>
</body>
</html>
